.header {
    height: 10vh;
    width: 100%;
}

.sidebar {
    height: 85vh;
    width: 20%;
    position: relative;
    float: left;
    /* background-color: white; */
    margin-right: 5px;
}

.content{
    height: 90vh;
    width: 100%;
    background-color: white;
    margin-left: 5px;
    /* position: relative;
    float: right; */
}